body,
html {
  color: rgb(236, 228, 238);
  height: 100%;
  background-color: blueviolet;
  font-family: sans-serif;
  position: relative;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.main-header {
  background-color: #393838ae;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  text-align: center;
  /* height: 80px; */
}

.about-me {
  background-color: #393838ae;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
  display: flex;
}

.about-me-desc {
  padding-left: 30px;
}

.nav-link {
  padding-right: 20px;
  color: rgb(193, 227, 21);
}
