body, html {
  color: rgb(236, 228, 238);
  height: 100%;
  background-color: blueviolet;
  font-family: sans-serif;
  position: relative;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.main-header {
  background-color: #393838ae;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  text-align: center;
  /* height: 80px; */
}

.nav-link { 
  padding-right: 20px;
  color: rgb(193, 227, 21);
}

.article-box { 
  background-color: #393838ae;
  width: 1000px;
  margin: 0 auto;
}

.article-title { 
  padding: 10px;
}

.article-date { 
  padding: 10px;

}

.article-content { 
  padding: 10px;
  background-color: rgb(121, 121, 53);
}

.article-tags { 
  padding: 10px

}

.read-more { 
  padding: 10px;
  color: rgb(193, 227, 21);
}

